# Ignore target folders
target/
build/

#IDE files
.idea/
.vscode/
*.iml

#Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Remove unnecessary wrapper/helper files
HELP.md
mvnw
mvnw.cmd
.gitattributes
